.container {
  position: relative;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.info {
  position: absolute;
  top: 0;
  left: -100%;
  padding: var(--padding-container);
  padding-top: 50px;
  padding-bottom: 50px;

  display: flex;
  justify-content: space-between;

  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, .2);
  opacity: 0;
  transition: all .8s;
}

.container:hover .info {
  opacity: 1;
  left: 0;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-family: "Morris";
  font-size: 80px;
  color: var(--dark-color);
  text-shadow: 1px 1px #eeebeb;
}

.oscarList {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.nominationsList {
  margin-bottom: 20px;
}

.oscar {
  height: 80px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.rating {
  display: flex;
  align-items: center;
  font-family: "Morris";
  font-size: 80px;
  color: var(--dark-color);
  text-shadow: 2px 2px #eeebeb;
}

.tomato {
  color: darkred;
}

.money {
  display: flex;
  font-family: "Morris";
  font-size: 50px;
  color: var(--soft-gold-color);
}

.moneyNames {
  display: flex;
  flex-direction: column;
  color: rgb(22, 136, 72);
  text-shadow: 2px 2px 4px #000000;
}

.moneyNumbers {
  display: flex;
  flex-direction: column;
}

.moneyNumber {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-shadow: 2px 2px #131212;
}

.moneyIcon {
  color: rgb(22, 136, 72);
}

@media screen and (max-width: 1200px) {
  .info {
    opacity: 1;
    left: 0;
    background-color: rgba(0, 0, 0, .1);
  }

  .oscarList {
    width: 80%;
  }

  .oscar {
    height: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    height: 500px;
  }

  .info {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .name {
    font-size: 50px;
  }

  .rating {
    font-size: 50px;
  }

  .money {
    font-size: 40px;
  }
}

@media screen and (max-width: 750px) {
  .container {
    height: 400px;
  }

  .info {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .name {
    font-size: 40px;
  }

  .rating {
    font-size: 40px;
  }

  .money {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    height: 300px;
  }

  .info {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .name {
    font-size: 30px;
  }

  .rating {
    font-size: 30px;
  }

  .money {
    font-size: 25px;
  }

  .oscarList {
    width: 100%;
  }

  .oscar {
    height: 30px;
  }
}